target format is JSON
{
"demoset":{"bottle":"pullo","station":"asema","shelf":"hylly","bar":"baari"},
"demoset2":{"bottle2":"pullo2","station2":"asema2","shelf2":"hylly2","bar2":"baari2"}
 }

In [8]:
import pandas as pd

In [91]:
nouns = pd.read_excel("./core words completed.xlsx", 0 )
verbs = pd.read_excel("./core words completed.xlsx", 2)
adj = pd.read_excel("./core words completed.xlsx", 1 )
rankings = pd.read_csv("./rankedvocab.csv")

In [92]:
nouns["POS1"] = "n"
nouns.head()
nouns.shape

(2459, 3)

In [93]:
verbs.head()
verbs.columns = ["Finnish","English"]
verbs["POS1"] = "v"
verbs.shape

(1138, 3)

In [94]:
adj.head()
adj["POS1"] = "j"
adj.shape

(569, 3)

In [95]:
rankings.head()
rankings["POS"].value_counts()

POS
n       2688
v       1042
j        692
r        214
fw       167
u         99
m         84
K         62
abbr      14
Name: count, dtype: int64

In [96]:
rankings[rankings["POS"]=="r"].shape

(214, 8)

In [97]:
rankingreduced = rankings[["word","POS","ranking"]]
# rankingreduced = rankings[["word","ranking"]]

rankingreduced.head()
rankingreduced.shape

(5063, 3)

In [98]:
stage1 = pd.merge(rankingreduced,
                  adj,
                  left_on = ["word",'POS'],
                  right_on= ["English",'POS1'],
                  how = "right",
                  left_index = False,
                  right_index = False)
stage1.shape

(569, 6)

In [99]:
stage1.head()

         word  POS  ranking        Finnish     English POS1
0        able    j    609.0       kykenevä        able    j
1         NaN  NaN      NaN         ylinen       above    j
2    absolute    j   3511.0  absoluuttinen    absolute    j
3      absurd    j   4740.0        absurdi      absurd    j
4  acceptable    j   4477.0   hyväksyttävä  acceptable    j

In [100]:
stage1[stage1["POS1"]=="j"].shape

(569, 6)

In [106]:
stage1["Finnish"].isna().sum()

0

In [112]:
s1clean = stage1[(stage1["Finnish"].notnull()) &((stage1["POS1"]=="j") | (stage1["POS1"]=="r" )|(stage1["POS1"]=="fw"))].copy()
# s1clean = stage1[(stage1["Finnish"].notnull())].copy()

# s1clean["POS"] = "rj" #adjs
# # stage1[(stage1["Finnish"].notnull())&(stage1["POS"]=="j")].shape #adjs
s1clean.shape

(569, 6)

In [115]:
s1clean.head()

         word  POS  ranking        Finnish     English POS1
0        able    j    609.0       kykenevä        able    j
1         NaN  NaN      NaN         ylinen       above    j
2    absolute    j   3511.0  absoluuttinen    absolute    j
3      absurd    j   4740.0        absurdi      absurd    j
4  acceptable    j   4477.0   hyväksyttävä  acceptable    j

In [117]:
stage2 = pd.merge(rankingreduced, 
                  nouns, 
                  left_on = ["word",'POS'],
                  right_on= ["English",'POS1'],
                  how = "right",
                  left_index = False, 
                  right_index = False)

In [119]:
s2clean = stage2[(stage2["Finnish"].notnull()) & (stage2["POS1"]=="n") ] #nouns
s2clean.shape

(2459, 6)

In [121]:
stage3 = pd.merge(rankingreduced,
                  verbs,
                  left_on = ["word",'POS'],
                  right_on= ["English",'POS1'],
                  how = "right",
                  left_index = False,
                  right_index = False)

In [123]:
s3clean = stage3[stage3["Finnish"].notnull()]
s3clean.shape
#verbs

(1138, 6)

In [125]:
#adj + v + n
569+1138+2459

4166

In [127]:
total = pd.concat([s1clean,s2clean,s3clean], ignore_index = True)

In [130]:
total[(total["ranking"]>= 0) & (total["ranking"]<5000)]["POS"].value_counts()

POS
n    2036
v     749
j     470
Name: count, dtype: int64

In [132]:
# now split by ranking 
total[ ((total["ranking"]>= 0) & (total["ranking"]<500)) & (total['POS']=="v")].shape

(100, 6)

In [134]:
total[ ((total["ranking"]>= 0) & (total["ranking"]<500)) & (total['POS']=="n")].shape

(111, 6)

In [136]:
total[ ((total["ranking"]>= 0) & (total["ranking"]<500)) & (total['POS']=="fw")].shape

(0, 6)

In [138]:
total.to_csv("test.csv")

In [140]:
total = total.sort_values(by = 'ranking')#
total.reset_index(inplace=True, drop=True)

In [142]:
total.tail()

     word  POS  ranking     Finnish            English POS1
4161  NaN  NaN      NaN      toimia      work/function    v
4162  NaN  NaN      NaN  haavoittaa              wound    v
4163  NaN  NaN      NaN    huudella  yell wildly happy    v
4164  NaN  NaN      NaN   kellastua          to yellow    v
4165  NaN  NaN      NaN  kaavoittaa               zone    v

In [144]:
# bounds = [0,500,1000,1500,2000,2500,3000,3500,4000]
# lower = bounds[0]
# upper = bounds[1]

# POS = ["v","n","rj"]

# batch = [ total[((total["ranking"]>= lower) & (total["ranking"]<upper)) & (total['POS']== pos)] for pos in POS]
# pd.concat(batch).shape
# name = f"{lower}-{higher}"
   
# # def setbuilder(lower,upper):
# #     [total[ ((total["ranking"]> lower) & (total["ranking"]<upper)) & (total['POS']== pos)].shape for pos in POS

In [146]:
def make_set(start,end,set_name, datasource):
    json_extract = f'"{set_name}":{{\n'
    last_val = ''
    last_entry = ''
    for index, row in datasource[start:end].iterrows():
        # print(last_val)
        try:
            if last_val == row['English']:
                # print(f"found a duplicate of {row['English']}" )
                # print(last_val, row["English"])
                 # Modify last_entry to include both values
                json_extract = json_extract.rstrip('", \n')  # Remove the trailing comma and space
                json_extract += f', {row["Finnish"]}", \n'  # Add the Finnish value from the duplicate 
                
                if index-start < end-start-1:
                    new_entry+= ", \n"
                    # remember previous entry for nest round
                    last_val = row['English']
                else:
                    new_entry+="\n"
                    # clear memory for next stage start
                    last_val = ''
            else:
                new_entry = f'''\t"{row['English']} ({row['POS1']})":"{row['Finnish']}"'''
                
                if index-start < end-start-1:
                    new_entry+= ", \n"
                    # remember previous entry for nest round
                    last_val = row['English']
                else:
                    new_entry+="\n"
                    # clear memory for next stage start
                    last_val = ''
                    
                json_extract += new_entry
        except:
            print("No data found ... looks like the end of the data")
    json_extract+="\t}, \n"
   
    return json_extract

In [148]:
with open("vitalvocab.txt", "w") as j:
    for i in range(0,4300,40):
        j.write(make_set(i,i+40,f"word_set{int(i/40)}",total))
        print(i)
        print(i+40)

0
40
40
80
80
120
120
160
160
200
200
240
240
280
280
320
320
360
360
400
400
440
440
480
480
520
520
560
560
600
600
640
640
680
680
720
720
760
760
800
800
840
840
880
880
920
920
960
960
1000
1000
1040
1040
1080
1080
1120
1120
1160
1160
1200
1200
1240
1240
1280
1280
1320
1320
1360
1360
1400
1400
1440
1440
1480
1480
1520
1520
1560
1560
1600
1600
1640
1640
1680
1680
1720
1720
1760
1760
1800
1800
1840
1840
1880
1880
1920
1920
1960
1960
2000
2000
2040
2040
2080
2080
2120
2120
2160
2160
2200
2200
2240
2240
2280
2280
2320
2320
2360
2360
2400
2400
2440
2440
2480
2480
2520
2520
2560
2560
2600
2600
2640
2640
2680
2680
2720
2720
2760
2760
2800
2800
2840
2840
2880
2880
2920
2920
2960
2960
3000
3000
3040
3040
3080
3080
3120
3120
3160
3160
3200
3200
3240
3240
3280
3280
3320
3320
3360
3360
3400
3400
3440
3440
3480
3480
3520
3520
3560
3560
3600
3600
3640
3640
3680
3680
3720
3720
3760
3760
3800
3800
3840
3840
3880
3880
3920
3920
3960
3960
4000
4000
4040
4040
4080
4080
4120
4120
4160
4160
4200
4200
4240
4240
4280
4280
4320

In [197]:
total.to_csv("./check me.csv", encoding = "utf-8-sig")